# ── Django Core ──────────────────────────────────────────────
DJANGO_SECRET_KEY=change-me-to-a-very-long-random-string-50-chars-min
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_SETTINGS_MODULE=config.settings.development
DJANGO_ENV=development

# ── Database ─────────────────────────────────────────────────
# SQLite untuk development (default):
DATABASE_URL=sqlite:///db.sqlite3

# PostgreSQL untuk production:
# DATABASE_URL=postgres://fintrack:password@localhost:5432/fintrack_db

# ── Cache & Celery ───────────────────────────────────────────
REDIS_URL=redis://localhost:6379/0
CELERY_BROKER_URL=redis://localhost:6379/1
CELERY_RESULT_BACKEND=redis://localhost:6379/2

# ── Email ────────────────────────────────────────────────────
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
DEFAULT_FROM_EMAIL=noreply@fintrack.app
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=

# ── Storage (Production S3) ──────────────────────────────────
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME=
AWS_S3_REGION_NAME=ap-southeast-1

# ── OAuth ────────────────────────────────────────────────────
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# ── External APIs ────────────────────────────────────────────
EXCHANGERATE_API_KEY=

# ── Sentry ───────────────────────────────────────────────────
SENTRY_DSN=

# ── Security (production = True) ─────────────────────────────
DJANGO_SECURE_SSL_REDIRECT=False
SESSION_COOKIE_SECURE=False
CSRF_COOKIE_SECURE=False